body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: #2c3e50;
}

p {
  line-height: 1.6;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

